/*!
Theme Name: diabetes
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: diabetes
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

diabetes is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

@font-face {
	font-family: 'HelveticaBold';
	src: url('fonts/HelveticaBold.eot');
	src: url('fonts/HelveticaBold.eot') format('embedded-opentype'),
		url('fonts/HelveticaBold.woff2') format('woff2'),
		url('fonts/HelveticaBold.woff') format('woff'),
		url('fonts/HelveticaBold.ttf') format('truetype'),
		url('fonts/HelveticaBold.svg#HelveticaBold') format('svg');
}

@font-face {
	font-family: 'Helvetica';
	src: url('fonts/Helvetica.eot');
	src: url('fonts/Helvetica.eot') format('embedded-opentype'),
		url('fonts/Helvetica.woff2') format('woff2'),
		url('fonts/Helvetica.woff') format('woff'),
		url('fonts/Helvetica.ttf') format('truetype'),
		url('fonts/Helvetica.svg#Helvetica') format('svg');
}

@font-face {
	font-family: 'HelveticaCENarrow';
	src: url('fonts/HelveticaCENarrow.eot');
	src: url('fonts/HelveticaCENarrow.eot') format('embedded-opentype'),
		url('fonts/HelveticaCENarrow.woff2') format('woff2'),
		url('fonts/HelveticaCENarrow.woff') format('woff'),
		url('fonts/HelveticaCENarrow.ttf') format('truetype'),
		url('fonts/HelveticaCENarrow.svg#HelveticaCENarrow') format('svg');
}

.Helvetica {
	font-family: 'Helvetica';
}

.HelveticaBold {
	font-family: 'HelveticaBold';
}

.helvetica-cenarrow {
	font-family: 'HelveticaCENarrow';
}

a:hover,
a:active,
a:focus,
a {
	text-decoration: none;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	width: 100%;
	background-color: #fff;
	font-size: 16px;
	overflow-x: hidden;
	color: #4e4e4e;
}

img {
	border-style: none;
	max-width: 100%;
}

section {
	position: relative;
	overflow-x: hidden;
}

.color-white {
	color: #fff
}

.color-green {
	color: #10847e
}

.color-grey {
	color: #636363;
}

.article-bg {
	background-color: #eaedf2;
}

header {
	background-color: #10847e;
}

ul#primary-menu li {
	display: inline-block;
	position: relative;
	padding: 0 14px;
	color: #fff;
}

ul#primary-menu li a {
	display: inline-block;
	position: relative;
	padding: 0;
	color: #fff;
	font-weight: normal;
	cursor: pointer;
}

.mobile-container {
	background-color: transparent;
	margin: auto;
	height: auto;
	color: white;
	width: 100%;
	border-radius: 10px;
}

.topnav {
	overflow: hidden;
	position: relative;
}

.topnav #myLinks {
	display: none;
}

.topnav a {
	color: #fff;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

#myLinks a {
	color: #2e378f;
}

.topnav a.icon {
	background: transparent;
	display: block;
	position: absolute;
	right: 0px;
	top: 0;
	border: 2px solid #fff;
	margin-top: 10px;
}

.topnav a:hover,
.topnav a:active,
.topnav a:focus {
	background-color: #2e378f;
	color: white;
}

.navonlymob {
	display: none !important;
}

/* article grid styling */
.article-title-styling {
	position: absolute;
	width: 100%;
	bottom: 25px;
	left: 30px;
}

.article-title-styling a {
	color: #fff;
}

i.fa.fa-chevron-circle-right {
	background: transparent;
	color: #fff;
	font-size: 24px;
}
.banner-caption-form-pilar {
    position: absolute;
    top: 0;
    width: 100%;
}